<h1>Welcome to the Sorting Hat!</h1>
<%= image_tag "http://flavorwire.files.wordpress.com/2009/06/sorting-hat.jpg" %>
<%= form_for @student do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :img_url %><br>
    <%= f.text_area :img_url %>
  </p>

    <%= f.collection_select(:house_id, @houses, :id, :name)%>
  <p>
    <%= f.submit %>
  </p>
<% end %>
