<h1>Welcome to the Sorting Hat!</h1>
<%= image_tag href="http://flavorwire.files.wordpress.com/2009/06/sorting-hat.jpg" %>

<%=form_for @student do |f| %>

<%=f.label :name %>
<%=f.text_field :name %>

<%=f.label :img_url %>
<%=f.text_field :img_url %>

<%=f.label "House" %>
<%=f.select :house_id do %>
  <%= options_for_select(@house_options) %>
<% end %>

<%=f.submit "create studentx"%>

<% end %>
