<h1>Welcome to the Sorting Hat!</h1>

<h2>Enroll A New Student</h2>

<%= form_for @students do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>

<%= image_tag "http://flavorwire.files.wordpress.com/2009/06/sorting-hat.jpg" %>
