<h1>Welcome to the Sorting Hat!</h1>
<%= image_tag "http://flavorwire.files.wordpress.com/2009/06/sorting-hat.jpg" %>

<%= form_for @student, url: students_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :img_url %><br>
    <%= f.text_area :img_url %>
  </p>

  <p>
    <%= f.label :house %><br>
    <%= f.text_area :house %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
