<h1>Welcome to the Sorting Hat!</h1>
<img src="http://flavorwire.files.wordpress.com/2009/06/sorting-hat.jpg" alt="Sorting hat" />
<%= form_for @student do |f|%>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :img_url %>
    <%= f.text_field :img_url %>
    <!--http://apidock.com/rails/ActionView/Helpers/FormHelper/hidden_field  -->
    <%= f.hidden_field :house_id, :value => rand(1..4)%>

<%= f.submit%>
<% end %>
