<h1>Welcome to the Sorting Hat!</h1>
<%= image_tag "http://flavorwire.files.wordpress.com/2009/06/sorting-hat.jpg" %>
<%= form_for @student do |f| %>
<br>
<%= f.label :name %>
<br>
<%= f.text_field :name %>
<br>
<br>
<%= f.label "Picture" %>
<br>
<%= f.text_field :img_url %>
<br>

<%= f.submit "Enroll!" %>
<% end %>
