<h2><%= @student.name %></h2>
<h2><%= @student.house.name %></h2>
<div class="student">
  <%= image_tag @student.img_url %>
</div>

<%= form_for @student, method: :delete do |f| %>
  <%= f.submit "Remove Student" %>
<% end %>
