<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": 'reload' %>
  <%= javascript_include_tag "application", "data-turbolinks-track": 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <h1>Welcome to Hogwarts!</h1>
    <h2><%= link_to "View Houses", houses_path(@houses) %> | <%= link_to "View Students", students_path(@students) %> |  <%= link_to "Enroll Student", students_path(@students) %></h2>
  </nav>

  <%= yield %>

</body>
</html>
